@using LaboruTKM.Web.Common

<div class="panel panel-default">
    <div class="panel-heading engagement">

        <div class="row">
            <div class="col-md-6">
                Candidatos (xPers) en Laboru 
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Content("~/CompanyUI/XPers")">Búsqueda avanzada</a>
            </div>
        </div>

    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

        <table class="table table-hover" id="laboru-table">
            <thead>
                <tr>
                    <th>@UIHelpers.GetGlobalizedText("name")</th>
                    <th>Título</th>
                    <th>Número de recomendaciones</th>
                    <th>Miembro desde</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
